/* Animation pour le premier chercheur */
.winning-animation {
    animation: winning 2s infinite;
  }
  
  @keyframes winning {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  .color {background-color: #a1a7a8;     border-radius: 50px;
  }
.rang{ font-size:xx-large; color: darkgoldenrod; font-style:ordinal;  margin: 15px;} 
  :host ::ng-deep  .bg-pastel-red .p-rating-icon { 
    color: #920808;
} 
:host ::ng-deep .bg-pastel-green .p-rating-icon { 
    color: #06ad0e;
} 
:host ::ng-deep  .bg-pastel-light .p-rating-icon { 
    color: #8a4949;
} 
:host ::ng-deep .custom-rate{ 
    margin-right:25px ;
} 
  /* Badge */
  .badge {
    border-radius: 10px;
    padding: 5px;
    color: white;
    font-weight: bold;
    
  }
  
  /* Couleur pour le top bar */
  .bg-lightblue {
    background-color: #cce7f5;
  }
  
  /* Couleur pour le badge RDI */
  .bg-light-red {
    background-color: #920808;
  }

  
/* publication-dashboard.component.css */
.chart-container {
    width: 70%;  
    margin: auto; 
  }
  
  .p-chart {
    padding: 20px;
    background: #fff;
  }
  .notes-container {
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 8px;
  }
  
  .add-note {
    display: flex;
    align-items: center;
    gap: 1em;
  }
  
  .add-note input {
    flex-grow: 1;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-note button {
    padding: 0.5em 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-note button:hover {
    background-color: #0056b3;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
  }
  
  ul li button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  ul li button:hover {
    background-color: darkred;
  }
  