<!-- Utilisation d'une disposition de grille pour organiser les sections -->
<div class="grid">

    <!-- Section des statistiques -->
    <div class="col-12 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block font-medium mb-3" style="color: #920808; font-size:x-large">Total des Membres</span>
                    <div class="text-900 text-xl" style="font-size:xx-large">{{ totalMembers }}</div>
                </div>
                <div class="icon-wrapper">
                    <i class="pi pi-users text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{ percentageNewMembers }}% nouveaux in last month </span>
        </div>
    </div>

    <!-- Section des RDIs -->
    <div class="col-12 xl:col-6">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block mb-3" style="color: #920808; font-size:x-large">Nombre de RDIs</span>
                    <div class="text-900 font-medium text-xl">{{ totalRDIs }}</div>
                </div>
                <div class="icon-wrapper">
                    <i class="pi pi-sitemap text-green-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Section des notes / to-do -->
    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="flex justify-content-between">
                <div>
                    <span class="block font-medium mb-3" style="color: #920808; font-size:x-large">Notes / To-Do List</span>
                    <div class="flex align-items-center">
                        <input type="text" [(ngModel)]="newNote" placeholder="Add a new note..." class="p-inputtext p-component" />
                        <button class="p-button p-component" (click)="addNote()">Add</button>
                    </div>
                    <ul>
                        <li *ngFor="let note of notes; let i = index" class="flex justify-content-between">
                            <span>{{ note }}</span>
                            <button class="p-button p-component p-button-text" (click)="deleteNote(i)">
                                <i class="pi pi-trash"></i>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="icon-wrapper">
                    <i class="pi pi-pencil text-blue-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Section des meilleurs chercheurs -->
   
      
        <div class="col-12 xl:col-6">
            <div class="card">
              <h5 style="color: #920808; font-size:xx-large">Meilleurs Chercheurs pour cette année</h5>
              <ul class="list-none p-0 m-0">
                <li
                  *ngFor="let rdiMember of topRDIMembers; let i = index"
                  class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4 "
                  [ngClass]="{ 'winning-animation && color': i === 0 }"
                >
                  <div class="flex align-items-center" >
                    <!-- Avatar avec initiales si nécessaire -->
                    <span class = "rang">{{i+1}}</span>
                   
                    <p-avatar 
                    *ngIf="!rdiMember.user.img" 
                    label="{{ (rdiMember.user.nom[0] || '') + (rdiMember.user.prenom[0] || '') }}" 
                    size="large" 
                    shape="circle" 
                    [style]="{'background-color': getAvatarColor(rdiMember.user.nom + rdiMember.user.prenom), 'color': '#000000'}">
                  </p-avatar>
                    
                    <!-- Avatar basé sur les initiales -->
                 
                    
                    <!-- Nom du chercheur -->
                    <span class="text-900 font-medium ml-2">{{ rdiMember.user.nom +" " + rdiMember.user.prenom }}</span>
                    <span class="badge bg-light-red ml-2">{{ rdiMember.rdi.theme }}</span>
                  </div>
                  
                  <div class=" ml-2 flex align-items-center">                  
      
                    <!-- Barre de progression avec couleurs pastel -->
                    <p-rating 
      
                    [ngModel]="calculateRating(rdiMember)"  
      [ngClass]="{
                  'bg-pastel-red': i === 0,
                  'bg-pastel-green': i !== 0 && calculateRating(rdiMember) < 5 ,
                  'bg-pastel-light': i !== 0 && calculateRating(rdiMember) <3
                }"              [readonly]="true"   
                    [cancel]="false"  
                    [ngStyle]="{
                      'margin-right':'25px',
               } "   
                  ></p-rating>
                  
                    <!-- Pourcentage -->
                    
                  </div>
                </li>
              </ul>
            </div>
          </div>
    <!-- Section des publications -->
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5 style="color: #920808; font-size:xx-large">Les Publications par RDI</h5>
            <p-chart type="bar" [data]="barData" [options]="barOptions"></p-chart>
        </div>
    </div>

    <!-- Section des activités des RDIs -->
    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="header">
                <h5 style="color: #920808; font-size: xx-large;">Activités des RDIs</h5>
                <p-dropdown [options]="durationOptions" [(ngModel)]="selectedDuration" (onChange)="onDurationChange($event.value)" placeholder="Sélectionner la durée"></p-dropdown>
            </div>
            <div class="content">
                <p-chart type="line" [data]="lineData" [options]="lineOptions"></p-chart>
            </div>
        </div>
    </div>

    <!-- Section de répartition des RDIs -->
   
</div>
