<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left"></ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="showDialogToAdd()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-success"
                            (click)="deleteSelectedResearchAxiss()"
                            [disabled]="!selectedResearchAxis || !selectedResearchAxis.length"></button>
                           
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="researchAxes" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['descriptionRA', 'subjectRA']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedResearchAxis" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Research Axes</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="subjectRA">Subject <p-sortIcon field="subjectRA"></p-sortIcon></th>

                        <th pSortableColumn="descriptionRA">Description <p-sortIcon field="descriptionRA"></p-sortIcon></th>
                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-researchAxis>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="researchAxis"></p-tableCheckbox>
                        </td>
                        <td>
                            <span class="p-column-title">Subject</span>
                            {{researchAxis.subjectRA}}
                        </td>
                        <td>
                            <span class="p-column-title">Description</span>
                            {{researchAxis.descriptionRA}}
                        </td>
                       
                        <td>
                            <div class="flex justify-content-end">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="showDialogToEdit(researchAxis)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deletePublication(researchAxis)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="displayDialog" [style]="{width: '450px'}" header="{{ isNewResearchAxis ? 'Add Research Axis' : 'Edit Research Axis' }}" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
            <div *ngIf="isNewResearchAxis" class="field"> <!-- Hide if in edit mode -->
                <label for="subjectRA">SubjectRA</label>
                
                <input type="text" pInputText id="subjectRA" [(ngModel)]="editedResearchAxis.subjectRA" required />
            </div>
            <div class="field">
                <label for="descriptionRA">DescriptionRA</label>
                <input type="text" pInputText id="descriptionRA" [(ngModel)]="editedResearchAxis.descriptionRA" required />
            </div>
           
        </ng-template>
        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                (click)="cancel()"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                (click)="saveResearchAxis()"></button>
        </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="deleteResearchAxisDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span *ngIf="editedResearchAxis">Are you sure you want to delete <b>{{editedResearchAxis.subjectRA}}</b>?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="hideDeleteDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmDeleteResearchAxis()"></button>
        </ng-template>
    </p-dialog>
    
    <p-dialog [(visible)]="deleteResearchAxissDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
        <div class="flex align-items-center justify-content-center">
            <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
            <span>Are you sure you want to delete selected Publications?</span>
        </div>
        <ng-template pTemplate="footer">
            <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                (click)="deleteResearchAxissDialog = false"></button>
            <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                (click)="confirmDeleteSelectedResearchAxis()"></button>
        </ng-template>
    </p-dialog>
        </div>
</div>
