
.badge-container {
  position: absolute; /* Badge is positioned absolutely within its parent */
  top: 10px; /* Position from top */
  left: 10px; /* Position from left */
  padding: 15px;

}

.badge {
  background-color: rgba(190, 49, 49, 0.473);
  color: white;
  padding: 5px;
  

  border-radius: 50%;
}
.middle-element {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}