<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left"></ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button
                            (click)="openNew()"
                            class="p-button-success mr-2"
                            icon="pi pi-plus"
                            label="New"
                            pButton
                            pRipple
                        ></button>
                        <button
                            (click)="deleteSelectedOptions()"
                            [disabled]="
                                !selectedOptions|| !selectedOptions.length
                            "
                            class="p-button-danger"
                            icon="pi pi-trash"
                            label="Delete"
                            pButton
                            pRipple
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [(selection)]="selectedOptions"
                [columns]="cols"
                [globalFilterFields]="['name', 'classroom_number']"
                [paginator]="true"
                [rowHover]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [rows]="10"
                [showCurrentPageReport]="true"
                [value]="options"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                dataKey="id"
                responsiveLayout="scroll"
                selectionMode="multiple"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage options</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                (input)="onGlobalFilter(dt, $event)"
                                class="w-full sm:w-auto"
                                pInputText
                                placeholder="Search..."
                                type="text"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">
                            Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="classroom_number">
                            Classroom Number
                            <p-sortIcon field="classroom_number"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-option pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="option"></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Name</span>
                            {{ option.name }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">classroom_number</span>
                            {{ option.classroom_number }}
                        </td>
                        <td>
                            <div class="flex justify-content-end">
                                <!-- Align buttons to the right -->
                                <button
                                    (click)="editOption(option)"
                                    class="p-button-rounded p-button-success mr-2"
                                    icon="pi pi-pencil"
                                    pButton
                                    pRipple
                                ></button>
                                <button
                                    (click)="deleteOption(option)"
                                    class="p-button-rounded p-button-warning"
                                    icon="pi pi-trash"
                                    pButton
                                    pRipple
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="optionDialog"
            [modal]="true"
            [style]="{ width: '450px'  ,height: '450px'}"
            class="p-fluid"
            header="Option Details"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <p-dropdown
                        [(ngModel)]="option.name"

                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !option.name
                        }" [options]="[
                            { label: '4 ARCTIC', value: '4 ARCTIC' },
                            { label: '4 TWIN', value: '4 TWIN' },
                            { label: '4 SE', value: '4 SE' }, { label: ' 4 SAE', value: '4 SAE' }, { label: '4 BI', value: '4 BI' },
                            { label: ' 4 SLEAM', value: '4 SLEAM' } ,{ label: ' 4 SIM', value: '4 SIM' },
                            { label: '5 ARCTIC', value: '5 ARCTIC' },
                            { label: '5 TWIN', value: '5 TWIN' },
                            { label: '5 SE', value: '5 SE' }, { label: ' 5 SAE', value: '5 SAE' }, { label: '5 BI', value: '5 BI' },
                            { label: ' 5 SLEAM', value: '5 SLEAM' } ,{ label: ' 5 SIM', value: '5 SIM' }


                                ]"
                        aria-disabled="false"
                        aria-expanded="true" aria-haspopup="listbox" aria-labelledby="dropdown" autofocus
                        class="p-element p-inputwrapper ng-valid ng-touched p-inputwrapper-filled ng-dirty"

                        id="name"
                        inputid="dropdown"


                        pInputText
                        required
                        type="text"
                    ></p-dropdown>
                    <small
                        *ngIf="submitted && !option.name"
                        class="ng-dirty ng-invalid"
                    >Name is required.</small
                    >
                </div>
                <div class="field">
                    <label for="startYear">Start Year</label>
                    <p-calendar
                        [(ngModel)]="option.startYear"

                        dateFormat="yy"
                        id="startYear"
                        pInputText
                        required
                        type="number"
                        view="year">
                    </p-calendar>
                </div>
                <div class="field">
                    <label for="endYear">End Year</label>
                    <p-calendar
                        [(ngModel)]="option.endYear"
                        dateFormat="yy"
                        id="endYear"
                        pInputText
                        required
                        type="number"
                        view="year"
                    ></p-calendar>
                </div>
                <div class="field">
                    <label for="classroom_number">classroom Number</label>
                    <input
                        [(ngModel)]="option.classroom_number"
                        [defaultValue]=""
                        [max]="100"
                        [min]="1"
                        id="classroom_number"
                        min="1"
                        mode="decimal"
                        pInputText
                        required
                        type="number"

                    >
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    (click)="hideDialog()"
                    class="p-button-text"
                    icon="pi pi-times"
                    label="Cancel"
                    pButton
                    pRipple
                ></button>
                <button
                    (click)="saveOption()"
                    class="p-button-text"
                    icon="pi pi-check"
                    label="Save"
                    pButton
                    pRipple
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteOptionDialog"
            [modal]="true"
            [style]="{ width: '450px' }"
            header="Confirm"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="option"
                >Are you sure you want to delete <b>{{ option.name }}</b
                >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    (click)="deleteOptionDialog = false"
                    class="p-button-text"
                    icon="pi pi-times"
                    label="No"
                    pButton
                    pRipple
                ></button>
                <button
                    (click)="confirmDelete()"
                    class="p-button-text"
                    icon="pi pi-check"
                    label="Yes"
                    pButton
                    pRipple
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteOptionsDialog"
            [modal]="true"
            [style]="{ width: '450px' }"
            header="Confirm"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected options?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    (click)="deleteOptionsDialog = false"
                    class="p-button-text"
                    icon="pi pi-times"
                    label="No"
                    pButton
                    pRipple
                ></button>
                <button
                    (click)="confirmDeleteSelected()"
                    class="p-button-text"
                    icon="pi pi-check"
                    label="Yes"
                    pButton
                    pRipple
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
