/* donate.component.css */

.card {
  margin-bottom: 20px;
}

.card-img-top {
  max-height: 200px; /* Adjust as needed */
  object-fit: cover;
}

.progress-bar-container {
  margin-bottom: 10px;
}

.progress-wrapper {
  margin-bottom: 15px;
}

.donation-form {
  /* display: none; */ /* Initially hide donation form */
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-sm-4 {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center button */
.text-center {
  text-align: center;
}

/* Add margin between form elements */
.form-group {
  margin-bottom: 10px;
}

/* Increase margin for payment methods */
.form-check {
  margin-bottom: 15px;
}

/* Add margin between cards */
.fundraiser-card {
  margin-bottom: 20px;
}

.amount-input {
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 200px; /* Adjust as needed */
}
