<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left"></ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                       
                         <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                            (click)="deleteSelectedRDIs()"
                            [disabled]="!selectedRDIs || !selectedRDIs.length"></button>
                            
                       
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="rdis" [columns]="cols" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['theme']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedRDIs" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage RDIs</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                                class="w-full sm:w-auto" />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="theme">Theme <p-sortIcon field="theme"></p-sortIcon></th>
                        <th pSortableColumn="KeyWords">Keywords <p-sortIcon field="KeyWords"></p-sortIcon></th>
                        <th pSortableColumn="Type_R">Type RDI <p-sortIcon field="Type_R"></p-sortIcon></th>
                        <th pSortableColumn="researchAxis">ResearchAxis</th>
                        <th pSortableColumn="Date_Creation">Creation Date <p-sortIcon field="Date_Creation"></p-sortIcon></th>
                        <th pSortableColumn="Date_Creation">publications</th>
                        <th pSortableColumn="Date_Creation">members</th>

                        <th>Action</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rdi>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rdi"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Theme</span>
                            {{rdi.theme}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Keywords</span>
                            {{rdi.keywords}}
                        </td>
                        
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">TypeRDI</span>
                            {{rdi.typeR}}
                        </td>
                        
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">reseachaxis</span>
                            <button pButton
                            pRipple
                            class="p-button-rounded p-button-success mr-2"
                            (click)="navigateToreseachaxis(rdi.id)"
                            
                            [icon]="rdi.researchAxis?.length > 0 ? 'pi pi-eye' : 'pi pi-exclamation-triangle'"
                            [ngStyle]="{ 'background-color': rdi.researchAxis?.length > 0 ? 'green' : 'red' }">
                        </button>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Creation Date</span>
                            {{ rdi.dateCreation | date: 'yyyy/MM/dd' }}
                        </td>
                        <td>
                            <span class="p-column-title">Publications</span>
                            <button
                              pButton
                              pRipple
                              class="p-button-rounded p-button-success mr-2"

                              [icon]="rdi.publication?.length > 0 ? 'pi pi-eye' : 'pi pi-exclamation-triangle'"
                              [ngStyle]="{ 'background-color': rdi.publication?.length > 0 ? 'green' : 'red' }"
                              (click)="navigateToPublications(rdi.id)"
                            ></button>
                          </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">members</span>
                            <button pButton pRipple icon="pi pi-eye"
                            class="p-button-rounded p-button-success mr-2"
                            [icon]="rdi.RDIMembers?.length > 0 ? 'pi pi-eye' : 'pi pi-exclamation-triangle'"
                            [ngStyle]="{
                                'background-color': rdi.RDIMembers.length === 0 ? 'red' :
                                                    !hasResponsable(rdi) ? 'orange' :
                                                    'green'
                            }"
                            (click)="navigateToRDIMembers(rdi.id)"></button>
                        </td>
                        <td>
                            <div class="flex justify-content-end">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editRDI(rdi)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                    (click)="deleteRDI(rdi)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="rdiDialog" [style]="{width: '450px'}" header="RDI Details" [modal]="true"
            class="p-fluid" [formGroup]="rdiForm" (ngSubmit)="saveRDI()">
  <ng-template pTemplate="content">
    <div class="field">
      <label for="theme">Theme</label>
      <input type="text" pInputText id="theme" [(ngModel)]="newRDI.theme" required 
             [disabled]="editMode"  
              formControlName="theme" 
             
             [ngClass]="{
               'field-invalid': theme!.touched && theme!.invalid
             }" />
             <div *ngIf="rdiForm.controls.theme.touched && rdiForm.controls.theme.errors?.['required']" class="alert alert-danger">
                La theme est obligatoire.
              </div>
              <div *ngIf="rdiForm.controls.theme.hasError('unique')" class="alert alert-danger">
                Ce theme existe déjà.
              </div>    
    </div>
               <div class="field">
      <label for="keywords">Keywords</label>
      <input type="text" pInputText id="keywords"  formControlName="keywords"  [(ngModel)]="newRDI.keywords" [ngClass]="{
        'field-invalid': keywords!.touched && rdiForm.controls.keywords.errors?.['required']
      }" required /> <div *ngIf="rdiForm.controls.keywords.touched && rdiForm.controls.keywords.errors?.['required']" class="alert alert-danger">
        le keywords est obligatoires .
      </div>
    </div>
    
    <div class="field">
      <label for="typeR">Type</label>
      <p-dropdown id="typeR" [options]="typeOptions" [(ngModel)]="selectedTypeR" 
      formControlName="typeR" 
      [ngClass]="{
        'field-invalid': typeR!.touched && rdiForm.controls.typeR.errors?.['required']
      }" required></p-dropdown> <div *ngIf="rdiForm.controls.typeR.touched && rdiForm.controls.typeR.errors?.['required']" class="alert alert-danger">
        le Type est obligatoire.
      </div>
    </div>

    <div class="field">
      <label for="dateCreation">Creation Date</label>
      <input type="date" pInputText id="dateCreation"  [max]="getTodayDate()" [(ngModel)]="newRDI.dateCreation" formControlName="dateCreation"  
      [ngClass]="{
        'field-invalid': dateCreation!.touched && rdiForm.controls.dateCreation.errors?.['required']
      }" required />
      <div *ngIf="rdiForm.controls.dateCreation.touched && rdiForm.controls.dateCreation.errors?.['required']" class="alert alert-danger">
         date est obligatoire.
      </div>
      
    </div>
               
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
                    (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
                    (click)="saveRDI()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRDIDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="newRDI">Are you sure you want to delete <b>{{newRDI.theme}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteRDIDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteRDI()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteRDIsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected RDIs?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteRDIsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelectedRDIs()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
