<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left"></ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button
                            pButton
                            pRipple
                            label="New"
                            icon="pi pi-plus"
                            class="p-button-success mr-2"
                            (click)="openNew()"
                        ></button>
                        <button
                            pButton
                            pRipple
                            label="Delete"
                            icon="pi pi-trash"
                            class="p-button-danger"
                            (click)="deleteSelectedaffectations()"
                            [disabled]="
                                !selectedaffectations || !selectedaffectations.length
                            "
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [value]="affectations"
                [columns]="cols"
                responsiveLayout="scroll"
                [rows]="10"
                [globalFilterFields]="['name']"
                [paginator]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [(selection)]="selectedaffectations"
                selectionMode="multiple"
                [rowHover]="true"
                dataKey="id"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage Affectations</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                pInputText
                                type="text"
                                (input)="onGlobalFilter(dt, $affectation)"
                                placeholder="Search..."
                                class="w-full sm:w-auto"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Semester</th>
                        <th>Calendars</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-affectation>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="affectation"></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Semester</span>
                            {{ affectation.semester }}
                        </td>
                        <td>
                            <div
                                class="p-tag p-tag-rounded"
                                *ngFor="let calendar of affectation.calendars"
                            >
                                {{ calendar.name }}
                            </div>
                        </td>
                        <td>
                            <div class="flex justify-content-end">
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="editaffectation(affectation)"
                                ></button>
                                <button
                                    pButton
                                    pRipple
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-warning"
                                    (click)="deleteaffectation(affectation)"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="affectationDialog"
            [style]="{ width: '450px' }"
            header="Affectation Details"
            [modal]="true"
            class="p-fluid"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="title">Semester</label>
                    <input
                        type="text"
                        pInputText
                        id="title"
                        [(ngModel)]="affectation.semester"
                        required
                    />
                </div>
                <div
                    class="field"
                    style="display: flex; gap: 10px; flex-wrap: wrap"
                >
                    <label for="calendars">Calendars</label>
                    <div
                        *ngFor="let calendar of calendars"
                        class="checkbox-container"
                    >
                        <input
                            type="checkbox"
                            [id]="'calendar_' + calendar.id"
                            [value]="calendar"
                            [checked]="isSelectedCalendar(calendar)"
                            (change)="
                                toggleSelectionCalendar(
                                    calendar,
                                    $affectation.target.checked
                                )
                            "
                        />
                        <label [for]="'calendar_' + calendar.id">{{
                            calendar.name
                        }}</label>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    label="Cancel"
                    icon="pi pi-times"
                    class="p-button-text"
                    (click)="hideDialog()"
                ></button>
                <button
                    pButton
                    pRipple
                    label="Save"
                    icon="pi pi-check"
                    class="p-button-text"
                    (click)="saveaffectation()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteAffectationDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="affectation"
                    >Are you sure you want to delete <b>{{ affectation.semester }}</b
                    >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteAffectationDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDelete()"
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteAffectationsDialog"
            header="Confirm"
            [modal]="true"
            [style]="{ width: '450px' }"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected affectations?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    pButton
                    pRipple
                    icon="pi pi-times"
                    class="p-button-text"
                    label="No"
                    (click)="deleteAffectationsDialog = false"
                ></button>
                <button
                    pButton
                    pRipple
                    icon="pi pi-check"
                    class="p-button-text"
                    label="Yes"
                    (click)="confirmDeleteSelected()"
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
