
<style>
    /* CSS styles for custom textarea */
    .custom-textarea {
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      padding: 10px;
      border-radius: 5px;
      resize: none;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  
    .custom-textarea:focus {
      outline: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }



    .fieldd {
  display: flex; /* Enable flexbox layout */
  flex-direction: column; /* Arrange elements vertically */
}
  </style>

<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/{{layoutService.config().colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0">                
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
                <div class="text-center mb-5">
                    <img src="assets/demo/images/login/avatar.png" alt="Image" height="50" class="mb-3">
                    <div class="text-900 text-3xl font-medium mb-3">Welcome, </div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
                    <p *ngFor="let msg of errorMsg"  style="color: red; font-weight: bold;">{{msg}}</p>

                </div>
                
                <div>
                    <label for="email" class="block text-900 text-xl font-medium mb-2">Email</label>
                    <input id="email" [(ngModel)]= "authenticationRequest.email" type="text" placeholder="Email address" pInputText class="w-full md:w-30rem mb-5" style="padding:1rem">

                    <label for="password" class="block text-900 text-xl font-medium  mb-2">Password</label>
                    <p-password id="password" [(ngModel)]="authenticationRequest.password" placeholder="Password" [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"></p-password>

                    <div class="flex align-items-center justify-content-between mb-5 gap-5">
                        <div class="flex align-items-center">
                            <p-checkbox id="rememberme1" [binary]="true" styleClass="mr-2"></p-checkbox>
                            <label for="rememberme1">Remember me</label>
                        </div>
                        <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" (click)="verifMailing()" >Forgot password?</a>
                    </div>
                    <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" (click)="login()"></button>
               
                    <br><br>
                    <button pButton pRipple label="Sign Up" class="w-full p-3 text-xl bg-green-500 " (click)="RedirectTOregister()"></button>

    
                </div>

         



<!--
                <p-dialog [(visible)]="qrOpen" [style]="{width: '450px'}"  [modal]="true"
                class="p-fluid">

                <div class="container" *ngIf="authenticationResponse.mfaEnabled">

                <h2>Set Up Two-Factor Authentication</h2>
                <div class="qr-code">
                  <img [src]="authenticationResponse.secretImageUri" alt="QR Code">
                </div>
                <div class="form-group">
                  <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
                  <input
                    type="text"
                    id="validationCode"
                    name="validationCode"
                    required
                    [(ngModel)]="otpCodeQr"
                  >
                </div>
                <button
                  type="button"
                  (click)="verifyTfaCode()"
                  [class.button-disabled]="otpCodeQr.length < 6"
                >Verify code</button>
                </div>
                </p-dialog>
-->
            <p-dialog [(visible)]="verifDialog" [style]="{width: '450px'}" header="Mail Verification" [modal]="true"
                class="p-fluid">
                <ng-template pTemplate="content">
                  
                   
            
                    <div class="field">
                        <label for="email">Set your Email</label>
                        
                        <textarea id="email" pInputTextarea [(ngModel)]="email" class="custom-textarea" required rows="1" cols="30"></textarea>
                    </div>
                    

                    <div class="alert alert-danger" role="alert" *ngIf="errorMsgmail.length">
                        <p *ngFor="let msgs of errorMsgmail"  style="color: red; font-weight: bold;">- {{msgs}}</p>
        
                    </div>
                
                </ng-template>
                 <ng-template pTemplate="footer">
                        <button pButton pRipple label="Next" icon="pi pi-check"  class="p-button-success"  (click)="verifMailer()"></button>
                </ng-template>
            
            </p-dialog>
        
        
     
        
            <p-dialog [(visible)]="otpDialog" [style]="{width: '450px'}" header="CODE Verification" [modal]="true"
            class="p-fluid">
            <ng-template pTemplate="content">
              
             
        
                <div class="field">
                    <label for="otp">Enter your Otp</label>
                    
                    <textarea id="otp" pInputTextarea [(ngModel)]="otp" class="custom-textarea" required rows="1" cols="30"></textarea>
                </div>
                
            </ng-template>
             <ng-template pTemplate="footer">
                    <button pButton pRipple label="next" icon="pi pi-check" class="p-button-success" color="blue" (click)="verifOTP()"></button>
            </ng-template>
        
        </p-dialog>
        
        
        <p-dialog [(visible)]="changepwdDialog" [style]="{width: '450px'}" header="Reset Password" [modal]="true"
        class="p-fluid">
        <ng-template pTemplate="content">
          
            <div class="alert alert-danger" role="alert" *ngIf="errorMsg.length">
                <p *ngFor="let msg of errorMsg"  style="color: red; font-weight: bold;">{{msg}}</p>

            </div>
        
        

            <div class="field">
                <label for="otp">Enter your NEW password</label>
                
                <textarea id="otp" pInputTextarea [(ngModel)]="newPwd" class="custom-textarea" required rows="1" cols="30"></textarea>
            </div>
            
        
            <div class="field">
                <label for="otp">Confirm your NEW password</label>
                
                <textarea id="otp" pInputTextarea [(ngModel)]="confirmNewPwd" class="custom-textarea" required rows="1" cols="30"></textarea>
            </div>
        
        </ng-template>
         <ng-template pTemplate="footer">
                <button pButton pRipple label="next" icon="pi pi-check" class="p-button-success" color="blue" (click)="changerPassword()"></button>
        </ng-template>
        
        </p-dialog>







        <div *ngIf="authenticationResponse.secretImageUri.length">
        <p-dialog [(visible)]="qrOpen" [style]="{ width: '420px' }" [modal]="true" class="p-fluid">
            <div class="qr-code">
        
        
            <div class="qr-code">
              <img [src]="authenticationResponse.secretImageUri" alt="QR Code">
            </div>
            <div class="form-group">
              <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
              <input
                type="text"
                id="validationCode"
                name="validationCode"
                required
                [(ngModel)]="otpCodeQr"
              >
            </div>
            <button
              type="button"
              (click)="verifyTfa()"
              [class.button-disabled]="otpCodeQr.length < 6"
            >Verify code</button>
          </div>
        </p-dialog>
    </div>








     
      <!--  <div *ngIf="authenticationResponse.mfaEnabled">

        <p-dialog [(visible)]="qrOpen" [style]="{width: '420px'}"  [modal]="true"
        class="p-fluid" >

        <div class="success-message-panel" *ngIf="message">
            <div class="success-icon">&#10004;</div>
            <div class="success-message">{{message}}</div>
        </div>
        <h2>Set Up Two-Factor Authentication</h2>
        <div class="qr-code">
          <img [src]="authenticationResponse.secretImageUri" alt="QR Code">
        </div>
        <div class="form-group">
            <label for="validationCode">Enter 6 digits Validation Code Generated by the app</label>
            <input
              type="text"
              id="validationCode"
              name="validationCode"
              required
              [(ngModel)]="otpCodeQr"
            >
        </div>
          <button
            type="button"
            (click)="verifyTfa()"
            [class.button-disabled]="otpCodeQr.length < 7"
          >Verify code</button>
      
        
        </p-dialog>
    </div>
  -->




</div>
        
                
           
        </div>







    </div>
   
</div>





              




   







