<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left"></ng-template>

                <ng-template pTemplate="right">
                    <div class="my-2">
                        <button
                            (click)="openNew()"
                            class="p-button-success mr-2"
                            icon="pi pi-plus"
                            label="New"
                            pButton
                            pRipple
                        ></button>
                        <button
                            (click)="deleteSelectedLevels()"
                            [disabled]="
                                !selectedLevels || !selectedLevels.length
                            "
                            class="p-button-danger"
                            icon="pi pi-trash"
                            label="Delete"
                            pButton
                            pRipple
                        ></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table
                #dt
                [(selection)]="selectedLevels"
                [columns]="cols"
                [globalFilterFields]="['name', 'classroom_number']"
                [paginator]="true"
                [rowHover]="true"
                [rowsPerPageOptions]="[10, 20, 30]"
                [rows]="10"
                [showCurrentPageReport]="true"
                [value]="levels"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                dataKey="id"
                responsiveLayout="scroll"
                selectionMode="multiple"
            >
                <ng-template pTemplate="caption">
                    <div
                        class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
                    >
                        <h5 class="m-0">Manage Levels</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input
                                (input)="onGlobalFilter(dt, $event)"
                                class="w-full sm:w-auto"
                                pInputText
                                placeholder="Search..."
                                type="text"
                            />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">
                            Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <!--                        <th pSortableColumn="school_year">-->
                        <!--                            School Year-->
                        <!--                            <p-sortIcon field="school_year"></p-sortIcon>-->
                        <!--                        </th>-->

                        <!-- Other columns here -->
                        <th pSortableColumn="startYear">
                            Start Year
                            <p-sortIcon field="startYear"></p-sortIcon>
                        </th>
                        <th pSortableColumn="endYear">
                            End Year
                            <p-sortIcon field="endYear"></p-sortIcon>
                        </th>
                        <th pSortableColumn="classroom_number">
                            Classroom Number
                            <p-sortIcon field="classroom_number"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-level pTemplate="body">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="level"></p-tableCheckbox>
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">Name</span>
                            {{ level.name }}
                        </td>
                        <!--&lt;!&ndash;                        <td style="width: 14%; min-width: 10rem">&ndash;&gt;-->
                        <!--&lt;!&ndash;                            <span class="p-column-title">Start Year</span>&ndash;&gt;-->
                        <!--&lt;!&ndash;                            {{ level.startYear }} /  {{ level.endYear }}&ndash;&gt;-->
                        <!--                        -->
                        <!--                        </td>-->

                        <td>
                            <span class="p-column-title">Start Year</span>
                            {{  getYear(level.startYear)}}
                        </td>
                        <td>
                            <span class="p-column-title">End Year</span>
                            {{  getYear(level.endYear) }}
                        </td>
                        <td style="width: 14%; min-width: 10rem">
                            <span class="p-column-title">classroom_number</span>
                            {{ level.classroom_number }}
                        </td>
                        <td>
                            <div class="flex justify-content-end">
                                <!-- Align buttons to the right -->
                                <button
                                    (click)="editLevel(level)"
                                    class="p-button-rounded p-button-success mr-2"
                                    icon="pi pi-pencil"
                                    pButton
                                    pRipple
                                ></button>
                                <button
                                    (click)="deleteLevel(level)"
                                    class="p-button-rounded p-button-warning"
                                    icon="pi pi-trash"
                                    pButton
                                    pRipple
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog
            [(visible)]="levelDialog"
            [modal]="true"
            [style]="{ width: '450px'  ,height: '550px' +
             'px'}"
            class="p-fluid"
            header="Level Details"
        >
            <ng-template pTemplate="content">
                <div class="field">
                    <label for="name">Name</label>
                    <p-dropdown
                        [(ngModel)]="level.name"
                        [ngClass]="{
                            'ng-invalid ng-dirty': submitted && !level.name
                        }"
                        [options]="[
                            { label: '1A', value: '1A' },
                            { label: '2A', value: '2A' },
                            { label: '2P', value: '2P' }, { label: '3A', value: '3A' }, { label: '3B', value: '3B' }


                                ]"
                        aria-disabled="false" aria-expanded="true" aria-haspopup="listbox" aria-labelledby="dropdown"
                        autofocus
                        class="p-element p-inputwrapper ng-valid ng-touched p-inputwrapper-filled ng-dirty"
                        id="name"
                        inputid="dropdown"

                        pInputText
                        required
                        type="text"
                    ></p-dropdown>
                    <small
                        *ngIf="submitted && !level.name"
                        class="ng-dirty ng-invalid"
                    >Name is required.</small
                    >
                </div>
                <div class="field">
                    <label for="startYear">Start Year</label>
                    <p-calendar
                        [(ngModel)]="level.startYear"

                        dateFormat="yy"
                        id="startYear"
                        pInputText
                        required
                        type="number"
                        view="year">
                    </p-calendar>
                </div>
                <div class="field">
                    <label for="endYear">End Year</label>
                    <p-calendar
                        [(ngModel)]="level.endYear"
                        dateFormat="yy"
                        id="endYear"
                        pInputText
                        required
                        type="number"
                        view="year"
                    ></p-calendar>
                </div>
                <div class="field">
                    <label for="classroom_number">Classroom Number</label>
                    <input
                        [(ngModel)]="level.classroom_number"
                        [defaultValue]=""
                        [max]="100"
                        [min]="1"
                        id="classroom_number"
                        mode="decimal"
                        pInputText
                        required type="number"


                    >
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button
                    (click)="hideDialog()"
                    class="p-button-text"
                    icon="pi pi-times"
                    label="Cancel"
                    pButton
                    pRipple
                ></button>
                <button
                    (click)="saveLevel()"
                    class="p-button-text"
                    icon="pi pi-check"
                    label="Save"
                    pButton
                    pRipple
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteLevelDialog"
            [modal]="true"
            [style]="{ width: '450px' }"
            header="Confirm"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span *ngIf="level"
                >Are you sure you want to delete <b>{{ level.name }}</b
                >?</span
                >
            </div>
            <ng-template pTemplate="footer">
                <button
                    (click)="deleteLevelDialog = false"
                    class="p-button-text"
                    icon="pi pi-times"
                    label="No"
                    pButton
                    pRipple
                ></button>
                <button
                    (click)="confirmDelete()"
                    class="p-button-text"
                    icon="pi pi-check"
                    label="Yes"
                    pButton
                    pRipple
                ></button>
            </ng-template>
        </p-dialog>

        <p-dialog
            [(visible)]="deleteLevelsDialog"
            [modal]="true"
            [style]="{ width: '450px' }"
            header="Confirm"
        >
            <div class="flex align-items-center justify-content-center">
                <i
                    class="pi pi-exclamation-triangle mr-3"
                    style="font-size: 2rem"
                ></i>
                <span>Are you sure you want to delete selected levels?</span>
            </div>
            <ng-template pTemplate="footer">
                <button
                    (click)="deleteLevelsDialog = false"
                    class="p-button-text"
                    icon="pi pi-times"
                    label="No"
                    pButton
                    pRipple
                ></button>
                <button
                    (click)="confirmDeleteSelected()"
                    class="p-button-text"
                    icon="pi pi-check"
                    label="Yes"
                    pButton
                    pRipple
                ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
